body {

}

.container {
    display: flex;
    justify-content: center;
}

#game-canvas {
    border: 1px solid black;
}

/* .game-paddle {
    border: 1px solid black;
    background-color: lightblue;
} */